@use 'variables' as *;

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $color-bg-dark;
    padding: $padding-medium $padding-large;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h1 {
    font-size: 32px;
    font-weight: bold;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  
  nav a {
    color: $color-white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
  }
  
  nav a:hover {
    color: $color-cyan;
    text-decoration: underline;
    text-decoration-color: $color-black;
  }
  