// Variables de couleurs
$white: #ffffff;
$cyan: #00ffff;
$dark-gray: #1d1d1d;
$dark-bg: #1d1c1c;
$green: #2ecc71;
$dark-green: #27ae60;
$blue: #0073b1;
$shadow-light: rgba(0, 0, 0, 0.1);
$shadow-dark: rgba(255, 255, 255, 0.5);

// Fonts
$font-family: 'Dharma Gothic', sans-serif;

// Dimensions
$max-width: 1000px;
$button-radius: 8px;
$icon-size: 1.8rem;
