/* Styles généraux */
:root{--accent:#00aaff;--bg:#0f1720;--text:#e6eef6}

* {
  margin: 20;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  color: white;
  text-align: center;
  overflow-x: hidden;
  position: relative;
  background:linear-gradient(180deg,#071029 0%, #0f1720 100%);
}

/* Fond Spline */

spline-viewer {
  position: fixed;
  left: 40%;
  top: 29%;
  pointer-events: none;
  z-index: 10;
}

/* Header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  /*background-color: rgba(34, 34, 34, 0.9);*/
  padding: 15px 50px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
}

/* Sections */
section {
  padding: 1px 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 36px;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

p {
  font-size: 18px;
  max-width: 600px;
  line-height: 1.6;
}